---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const url = "https://asset.grandbastion.dev"
let skills = {
    consulting: [
        {
            name: "Open Source Initiative",
            altName: "OSI",
            image: "opensourceinitiative.svg",
        },
        {
            name: "Odoo",
            altName: "Odoo",
            image: "odoo.svg",
        },
    ],
    frameworks: {
        frontend: [
            {
                name: "Angular",
                altName: "Angular",
                image: "angular.svg",
            },
            {
                name: "Astro",
                altName: "Astro",
                image: "astro.svg",
            },
        ],
        backend: [
            {
                name: "Ruby on Rails",
                altName: "Rails",
                image: "rubyonrails.svg",
            },
            {
                name: "Flask",
                altName: "Flask",
                image: "flask.svg",
            },
            {
                name: "FastApi",
                altName: "FastApi",
                image: "fastapi.svg",
            },
            {
                name: "Spring Boot",
                altName: "Spring Boot",
                image: "springboot.svg",
            },
        ],
    },
    languages: [
        {
            name: "Javascript",
            altName: "JS",
            image: "javascript.svg",
        },
        {
            name: "Typescript",
            altName: "TS",
            image: "typescript.svg",
        },
        {
            name: "Python",
            altName: "Python",
            image: "python.svg",
        },
        {
            name: "Java",
            altName: "Java",
            image: "java.svg",
        },
        {
            name: "Ruby",
            altName: "Ruby",
            image: "ruby.svg",
        },
        {
            name: "Rust",
            altName: "Rust",
            image: "rust.svg",
        },
    ],
    databases: [
        {
            name: "PostgreSQL",
            altName: "PostgreSQL",
            image: "postgresql.svg",
        },
        {
            name: "MySQL",
            altName: "MySQL",
            image: "mysql.svg",
        },
        {
            name: "Redis",
            altName: "Redis",
            image: "redis.svg",
        },
    ],
    infrastructure: [
        {
            name: "Docker",
            altName: "Docker",
            image: "docker.svg",
        },
        {
            name: "Kubernetes",
            altName: "Kubernetes",
            image: "kubernetes.svg",
        },
        {
            name: "Bare Metal",
            altName: "Bare Metal",
            image: "baremetal.svg",
        },
        {
            name: "Nginx",
            altName: "Nginx",
            image: "nginx.svg",
        },
        {
            name: "Traefik",
            altName: "Traefik",
            image: "traefikproxy.svg",
        },
    ],
};
---

<section class="skills-visor">
    <div class="skills-visor__category">
        <h2 class="skills-visor__title">Consulting</h2>
        <div class="skills-visor__items">
            {
                skills.consulting.map((item) => {
                    return (
                        <div class="skills-visor__item">
                            <img src=`${url}/${item.image}` alt={item.name} />
                            <span>{item.name}</span>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="skills-visor__category">
        <h2 class="skills-visor__title">Frontend</h2>
        <div class="skills-visor__items">
            {
                skills.frameworks.frontend.map((item) => {
                    return (
                        <div class="skills-visor__item">
                            <img src=`${url}/${item.image}` alt={item.name} />
                            <span>{item.name}</span>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="skills-visor__category">
        <h2 class="skills-visor__title">Backend</h2>
        <div class="skills-visor__items">
            {
                skills.frameworks.backend.map((item) => {
                    return (
                        <div class="skills-visor__item">
                            <img src=`${url}/${item.image}` alt={item.name} />
                            <span>{item.name}</span>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="skills-visor__category">
        <h2 class="skills-visor__title">Databases</h2>
        <div class="skills-visor__items">
            {
                skills.databases.map((item) => {
                    return (
                        <div class="skills-visor__item">
                            <img src=`${url}/${item.image}` alt={item.name} />
                            <span>{item.name}</span>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="skills-visor__category">
        <h2 class="skills-visor__title">Infrastructure</h2>
        <div class="skills-visor__items">
            {
                skills.infrastructure.map((item) => {
                    return (
                        <div class="skills-visor__item">
                            <img src=`${url}/${item.image}` alt={item.name} />
                            <span>{item.name}</span>
                        </div>
                    );
                })
            }
        </div>
    </div>
</section>
